body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    color: color-mix(in hsl shorter hue, color percentage, color percentage);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card{
    border: 2px solid white;
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 50px;
    font-size: 30px;
    flex-direction: column;
    gap: 40px;
}
.doctor-text,.salon-text,.car-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.button{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
    scale: 1.1;
}